.section-item{
    scroll-margin-top: 10vh;
}


.section-item-resume{
    scroll-margin-top: 10vh;
    height: 100vh;
}

.animation-fadein{
    animation-name: fadein;
    animation-duration: 1s;
}

@keyframes fadein {
    from {opacity: 0; transform: translate(3vw,0);}
    to{opacity: 1; transform: translate(0);}
}

.avatar-img{
    border-radius: 90%;
}

body {
    background-color: #EAEAEA;
    position: relative;
}
